<%-include("header"); -%>-
<h1>about</h1>
<p>This web application project is created by Sonali Priya.<br />
  This is a part of the Udemy full stack web development course conducted by Angela Yu.</p>
<%-include("footer"); -%>-
